.auth-container {
  width: 300px;
  margin: 100px auto;
  padding: 20px;
  background: rgb(133, 78, 174);
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(52, 5, 62, 0.1);
}

.auth-container h2 {
  text-align: center;
  margin-bottom: 15px;
}

.auth-container input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}

.auth-container button {
  width: 100%;
  padding: 8px;
  background: #b596c4;
  color: rgb(108, 7, 100);
  border: none;
}